<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue</title>
    <script src="./dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <p>加法计算器：</p>
      <p id="inputNums">您正在输入：{{num1}}+{{num2}}={{res}}</p>
      <div id="plus" style="display: flex;height: 30px;align-items: center;">
        <input type="text" v-model="num1" id="input1" @input="handleadd" oninput="value=value.replace(/[^\d]/g,'')"/>
        <p>+</p>
        <input type="text" v-model="num2" @input="handleadd" oninput="value=value.replace(/[^\d]/g,'')"/>
        <p>=</p>
        <p v-text="res"></p>
        <button id="calButton" @click="handleClick">重置</button>
      </div>
      
    </div>
    <script>
      const app = new Vue({
        el: '#app',
        data: {
          num1: 0,
          num2: 0,
          res: 0,
        },
        methods: {
          handleClick: function () {
            this.res = this.num1 = this.num2 = 0;
          },
          handleadd: function(){
            this.res = Number(this.num1) + Number(this.num2);
          }
        },
      });
    </script>
  </body>
</html>
